<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.6.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ripples.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dropdown.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">#}
{#    日期选择器#}
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker/bootstrap-datepicker3.css' %}">
</head>
<body>
<div class="navbar navbar-inverse" id="top" style="margin: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">开发者头条</a></li>
            </ul>
        </div>
    </div>
</div>